/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Estilos Mobile First */
header, main, footer {
    padding: 1rem;
}

h1, h2 {
    color: #333;
}

/* Estilos para dispositivos com largura maior que 768px */
@media (min-width: 768px) {
    header, main, footer {
        padding: 2rem;
    }

    h1, h2 {
        color: #666;
    }
}